<div [className]="removeAnimation ? 'close-message-container' : 'message-container'">
  <div class="message">
    <!-- <input #messageValue class="message-input" [value]="chatMessage.message" [disabled]="!edit" [hidden]="!edit"> -->
    <div class="message-div" *ngIf="!edit">{{chatMessage.message}}</div>
    <div #messageValue class="message-input" (keydown.enter)="updateChatMessage($event)" *ngIf="edit" contenteditable="true">{{chatMessage.message}}</div>
    <div class="author">{{chatMessage.author}}</div>
    <i class="fas fa-angle-right"></i>
    <div class="action-panel">
        <i class="fas fa-trash-alt" (click)="removeMessage(chatMessage.ID)"></i>
        <i class="fas fa-edit" (click)="enableEdit()" *ngIf="!edit"></i>
        <i class="fas fa-check" (click)="updateChatMessage()" *ngIf="edit"></i>
    </div>
  </div>
  <div class="user-img"><i class="far fa-user"></i></div>
</div>


